<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Malate Literary Folio Inventory System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">

    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/cssStyle.css" />

    <script src="js/adminPageAdd.js"></script>
    <script src="js/adminPageDelete.js"></script>
    <script src="js/adminPageEdit.js"></script>
    <script src="js/artistSales.js"></script>
    <script src="js/timer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
    <div id="mainPageBox">
        {{> header}}
        <div id="lowerSection" class="container d-flex flex-row mt-4">
            <div id="artistsList" class="card p-2" style="width: 60rem;">
                {{> artistCards}}
            </div>
            <div id="leftMenu" class="card p-3" data-spy="scroll" data-offset="0" style="width: 20rem;">
                <div id="manageMenu" class="nav-item">
                    <h6 class="text-center">manage</h6>
                    <a id="manageArtists" href="#" class="nav-link" data-toggle="modal" data-target="#manageArtistsWindow">Manage artists</a>
                    <a id="manageItems" href="#" class="nav-link" data-toggle="modal" data-target="#manageItemsWindow">Manage items</a>
                    <a id="manageBundles" href="#" class="nav-link" data-toggle="modal" data-target="#manageBundlesWindow">Manage bundles</a>
                    <a id="manageEventss" href="#" class="nav-link" data-toggle="modal" data-target="#manageEventsWindow">Manage events</a>
                </div>
                <hr />
                <div id="salesReportSection" class="nav-item">
                    <h6 class="text-center">sales report</h6>
                    <a id="currentSalesReport" href="#" class="nav-link" data-toggle="modal" data-target="#salesReportWindow">Current sales report</a>
                </div>
                <hr />
                <div id="exportData" class="nav-item">
                    <div class="custom-file">
                        <form>
                            <input id="exportDataInput" type="file" class="custom-file-input" />
                            <label class="custom-file-label" for="exportDataInput">Export data</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Manage modals-->
    <div id="manageArtistsWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage artists</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3 mt-2" id="manageArtistsNav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="editArtistsOption" data-toggle="tab" href="#editArtistsSection" role="tab" aria-controls="editArtistsSection" aria-selected="true">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addArtistsOption" data-toggle="tab" href="#addArtistsSection" role="tab" aria-controls="addArtistsSection" aria-selected="false">Add</a>
                        </li>
                    </ul>

                    <div class="tab-content p-2" id="manageArtistList">
                        <div id="editArtistsSection" class="tab-pane fade show active pb-4" role="tabpanel" aria-labelledby="editArtistsOption">
                            <h5 class="modal-title">Edit artist</h5>
                            <p id="manageReminder">Select the artist you want to edit or delete.</p>

                            <div class="form-group mb-4">
                                <form id="editArtist" class="form" method="POST" action="/admin/editArtist">
                                    <div class="form-row mb-2">
                                        <div class="col">
                                            <!--<label for="artistsListDropdownEdit" class="font-weight-normal mr-2">artist</label>-->
                                            <select id="artistsListDropdownEdit" class="form-control col-14" name="artistsListDropdownEdit" required>
                                                <option class="defaultVal" value="" disabled selected>select artist</option>
                                                {{#each artist}}
                                                <option value="{{artistID}}">{{artistName}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <button name="deleteArtistButton" id="deleteArtistButton" class="btn btn-secondary " type="button" onclick="deleteArtist(event);"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                            
                                    <div class="form-group mb-2">
                                        <label for="editArtistName" class="font-weight-normal">artist name</label>
                                        <input id="editArtistName" class="form-control clearInput" name="editArtistName" type="text" required />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editArtistIDNo" class="font-weight-normal">artist ID number</label>
                                        <input id="editArtistIDNo" class="form-control clearInput" name="editArtistIDNo" type="number" min="0" max="99999999" required />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="editArtistPassword" class="font-weight-normal">artist password (leave blank if you don't want to change it)</label>
                                        <input id="editArtistPassword" class="form-control clearInput" name="editArtistPassword" type="text"/>
                                    </div>
                                    <button name="editArtistButton" id="editArtistButton" class="btn btn-secondary btn-md col-4 mt-4 mb-2 float-right" type="submit">save</button>
                                </form>

                            </div>
                        </div>
                        <div id="addArtistsSection" class="tab-pane fade" role="tabpanel" aria-labelledby="addArtistsOption">
                            <form id="artistSelectaddArtist" class="form" action="javascript:addArtist(event);">
                                <h5 class="modal-title">Add artist</h5>
                                <p id="manageReminder">Fill in the form below before adding a new artist.</p>
                                <div class="mt-2">
                                    <div class="form-group mb-2">
                                        <label for="newArtistName" class="font-weight-normal">artist name</label>
                                        <input id="newArtistName" class="form-control clearInput" name="newArtistName" type="text" required />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newArtistIDNo" class="font-weight-normal">artist ID number</label>
                                        <input id="newArtistIDNo" class="form-control clearInput" name="newArtistIDNo" type="number" min="0" max="99999999" required />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newArtistPassword" class="font-weight-normal">artist password</label>
                                        <input id="newArtistPassword" class="form-control clearInput" name="newArtistPassword" type="text" required />
                                    </div>
                                </div>
                                <button name="addArtistButton" id="addArtistButton" class="btn btn-secondary btn-md col-4 mt-4 mb-2 float-right" type="submit">save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="manageItemsWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage items</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3 mt-2" id="manageArtistsNav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="editItemOption" data-toggle="tab" href="#editItemSection" role="tab" aria-controls="editItemSection" aria-selected="true">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addItemOption" data-toggle="tab" href="#addItemSection" role="tab" aria-controls="addItemSection" aria-selected="false">Add</a>
                        </li>
                    </ul>

                    <div class="tab-content p-2" id="manageItemList">
                        <div id="editItemSection" class="tab-pane fade show active" role="tabpanel" aria-labelledby="editItemOption">
                            <h5 class="modal-title">Edit item</h5>
                            <p id="manageReminder">Select the artist and their item you want to edit or delete.</p>

                            <form id="artistSelectEdit" class="form" method="POST" action="/admin/editItem" enctype="multipart/form-data">
                                <div id="otherInputSection" class="mt-2">
                                    <div class="form-group mb-2">
                                        <select id="artistsListDropdownItemEdit" class="form-control manageItemsArtist" name="artistsListDropdownItemEdit" required>
                                            <option class="defaultVal" value="" disabled selected>select artist</option>
                                            {{#each artist}}
                                            <option value="{{artistID}}">{{artistName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div class="form-row mb-2">
                                        <!--<label for="artistsListDropdownItem" class="font-weight-normal mr-2">item name</label>-->
                                        <div class="col">
                                            <select id="artistsListDropdownItem" class="form-control manageItemsList" name="artistsListDropdownItem" required>
                                                <option class="defaultVal" value="" disabled selected>select item</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <button name="deleteItemButton" id="deleteItemButton" class="btn btn-secondary " type="button" onclick="deleteItem(event);"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div id="editItemsSection" class="col">
                                            <div class="form-group mb-2">
                                                <label for="editItemName" class="font-weight-normal mr-2">item name</label>
                                                <input name="editItemName" id="editItemName" class="form-control col-10 clearInput" type="text" required />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="editItemStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                                <input name="editItemStockQuantity" id="editItemStockQuantity" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                            </div>
                                            
                                        </div>
                                        <div class="col">
                                            <div id="itemPhotoPicker" class="col m-4">
                                                <div class="d-flex justify-content-center">
                                                    <img name="editItemPhoto" id="editItemPhoto" class="photos" src="photo/item-photo.png" />
                                                </div>
                                                <div class="custom-file mt-2">
                                                    <input name="editItemPhotoPickerInput" id="editItemPhotoPickerInput" type="file" class="custom-file-input clearInput" onchange="document.getElementById('editItemPhoto').src = window.URL.createObjectURL(this.files[0])" />
                                                    <label class="custom-file-label " for="editItemPhotoPickerInput">Choose photo</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button name="editItemButton" id="editItemButton" class="btn btn-secondary btn-md col-6 mt-3 float-right" type="submit">save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        <div id="addItemSection" class="tab-pane fade" role="tabpanel" aria-labelledby="addItemOption">
                            <h5 class="modal-title">Add item</h5>
                            <p id="manageReminder">Fill in the form below before adding a new item.</p>
                            <form id="artistSelectaddItem" class="form" method="POST" action="/admin/addItem" enctype="multipart/form-data">
                                <div id="otherInputSection" class="mt-2">
                                    <div class="row">
                                        <div class="col mt-2">
                                            <div class="form-group mb-2">
                                                <label for="artistsListDropdownItemAdd" class="font-weight-normal mr-2">artist</label>
                                                <select id="artistsListDropdownItemAdd" class="form-control" name="artistsListDropdownItemAdd" required>
                                                    <option class="defaultVal" value="" disabled selected>select artist</option>
                                                    {{#each artist}}
                                                    <option value="{{artistID}}">{{artistName}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="textFields" class="col mt-2" style="width: 500px;">
                                            <div class="form-group mb-2">
                                                <label for="newItemName" class="font-weight-normal mr-2">item name</label>
                                                <input name="newItemName" id="newItemName" class="form-control col-10 clearInput" type="text" required />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="newItemPriceStock" class="font-weight-normal mr-2">price</label>
                                                <input name="newItemPriceStock" id="newItemPriceStock" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="newItemStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                                <input name="newItemStockQuantity" id="newItemStockQuantity" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                            </div>
                                        </div>
                                        <div id="itemPhotoPicker" class="col m-4">
                                            <div class="d-flex justify-content-center">
                                                <img name="newItemPhoto" id="newItemPhoto" class = "photos" src="photo/item-photo.png" />
                                            </div>
                                            <div class="custom-file mt-2">
                                                <input name="addItemPhotoPickerInput" id="addItemPhotoPickerInput" type="file" class="custom-file-input clearInput" onchange="document.getElementById('newItemPhoto').src = window.URL.createObjectURL(this.files[0])" required />
                                                <label class="custom-file-label " for="addItemPhotoPickerInput">Choose photo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button name="addItemButton" id="addItemButton" class="btn btn-secondary btn-md col-6 mt-3 float-right" type="submit">save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="manageBundlesWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage bundles</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3 mt-2" id="manageBundlesNav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="editBundleOption" data-toggle="tab" href="#editBundlesSection" role="tab" aria-controls="editBundlesSection" aria-selected="true">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addBundleOption" data-toggle="tab" href="#addBundlesSection" role="tab" aria-controls="addBundlesSection" aria-selected="false">Add</a>
                        </li>
                    </ul>
                    <div class="tab-content p-2" id="manageBundleList">
                        <div id="editBundlesSection" class="tab-pane fade show active pb-4" role="tabpanel" aria-labelledby="editBundleOption">
                            <h5 class="modal-title">Edit bundle</h5>
                            <p id="manageReminder">Select the artist and their bundle you want to edit or delete.</p>

                            <form id="editArtistSelectBundle" class="form" method='POST' action="/admin/editBundle" enctype="multipart/form-data">
                                <div id="otherInputSection" class="mt-3">
                                    <div class="row">
                                        <div class="col mt-2">
                                            <div class="form-group mb-2">
                                                <label for="artistsListDropdownBundleEdit" class="font-weight-normal mr-2">artist</label>
                                                <select id="artistsListDropdownBundleEdit" class="form-control" name="artistsListDropdownBundleEdit" required>
                                                    <option class="defaultVal" value="" disabled selected>select artist</option>
                                                    {{#each artist}}
                                                    <option value="{{artistID}}">{{artistName}}</option>
                                                    {{/each}}
                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="textFields" class="col" style="width: 500px;">
                                            <div class="form-group mb-2">
                                                <label for="artistsListDropdownBundle" class="font-weight-normal mr-2">bundle</label>
                                                <select id="artistsListDropdownBundle" class="form-control col-10" name="artistsListDropdownBundle" required>
                                                    <option class="defaultVal" value="" disabled selected>select bundle</option>
                                                </select>
                                                <button name="deleteBundleButton" id="deleteBundleButton" class="btn btn-secondary " type="button"  onclick="deleteBundle(event);" >delete</button>
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="editBundleName" class="font-weight-normal mr-2">bundle name</label>
                                                <input name="editBundleName" id="editBundleName" class="form-control col-10 clearInput" type="text" required />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="editBundleStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                                <input name="editBundleStockQuantity" id="editBundleStockQuantity" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                            </div>
                                        </div>
                                        <div id="BundlePhotoPicker1" class="col m-4">
                                            <div class="d-flex justify-content-center">
                                                <img name="editBundlePhoto" id="editBundlePhoto" class = "photos" src="photo/item-photo.png" />
                                            </div>
                                            <div class="custom-file mt-2">
                                                <input name="editBundlePhotoPicker" id="editBundlePhotoPicker" type="file" class="custom-file-input clearInput" onchange="document.getElementById('editBundlePhoto').src = window.URL.createObjectURL(this.files[0])"/>
                                                <label class="custom-file-label " for="editBundlePhotoPicker">Choose photo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="editSelectedItems" name="editSelectedItems" value="" />
                                    <div class="row">
                                        <div class="col">
                                            <div id="editBundleItemsSection">
                                                <div class="form-group">
                                                    <label for="editBundleItemsList" class="font-weight-normal">select bundle items</label>
                                                    <div id="editBundleItemsList" class="card overflow-auto" style="height: 10rem;" data-spy="scroll" data-offset="0">
                                                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 itemGrid" id="editSelectBundleItems">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button name="addBundleButton" id="editBundleButton" class="btn btn-secondary btn-md col-6 mt-4 mb-2 float-right" type="submit">save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        <div id="addBundlesSection" class="tab-pane fade" role="tabpanel" aria-labelledby="addBundleOption">
                            <form id="addArtistSelectBundle" class="form" method='POST' action="/admin/addBundle" enctype="multipart/form-data">
                                <h5 class="modal-title">Add bundle</h5>
                                <p id="manageReminder">Fill in the form below before adding a new bundle.</p>
                                <div id="otherInputSection" class="mt-3">
                                    <div class="row">
                                        <div class="col mt-2">
                                            <div class="form-group mb-2">
                                                <label for="artistsListDropdownBundleAdd" class="font-weight-normal mr-2">artist</label>
                                                <select id="artistsListDropdownBundleAdd" class="form-control" name="artistsListDropdownBundleAdd" required>
                                                    <option class="defaultVal" value="" disabled selected>select artist</option>
                                                    {{#each artist}}
                                                    <option value="{{artistID}}">{{artistName}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="textFields" class="col" style="width: 500px;">
                                            <div class="form-group mb-2">
                                                <label for="newBundleName" class="font-weight-normal mr-2">bundle name</label>
                                                <input name="newBundleName" id="newBundleName" class="form-control col-10 clearInput" type="text" required />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="newBundlePriceStock" class="font-weight-normal mr-2">price</label>
                                                <input name="newBundlePriceStock" id="newBundlePriceStock" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                            </div>
                                            <div class="form-group mb-2">
                                                <label for="newBundleStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                                <input name="newBundleStockQuantity" id="newBundleStockQuantity" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                            </div>
                                        </div>
                                        <div id="BundlePhotoPicker2" class="col m-4">
                                            <div class="d-flex justify-content-center">
                                                <img name="newBundlePhoto" id="newBundlePhoto" class = "photos" src="photo/item-photo.png" />
                                            </div>
                                            <div class="custom-file mt-2">
                                                <input name="addBundlePhotoPicker" id="addBundlePhotoPicker" type="file" class="custom-file-input clearInput" onchange="document.getElementById('newBundlePhoto').src = window.URL.createObjectURL(this.files[0])" required />
                                                <label class="custom-file-label " for="addBundlePhotoPicker">Choose photo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="hidden" id="addSelectedItems" name="addSelectedItems" value="" />
                                            <div id="addBundleItemsSection">
                                                <div class="form-group">
                                                    <label for="addBundleItemsSection" class="font-weight-normal">select bundle items</label>
                                                    <div id="addBundleItemsSection" class="card overflow-auto" style="height: 10rem;" data-spy="scroll" data-offset="0">
                                                        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4 itemGrid" id="addSelectBundleItems">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <button name="addBundleButton" id="addBundleButton" class="btn btn-secondary btn-md col-6 mt-4 mb-2 float-right" type="submit">save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="manageEventsWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage events</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs mb-3 mt-2" id="manageEventsNav" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="editEventsOption" data-toggle="tab" href="#editEventsSection" role="tab" aria-controls="editEventsSection" aria-selected="true">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addEventsOption" data-toggle="tab" href="#addEventsSection" role="tab" aria-controls="addEventsSection" aria-selected="false">Add</a>
                        </li>
                    </ul>
                    <div class="tab-content p-2" id="manageBundleList">
                        <div div id="editEventsSection" class="tab-pane fade show active pb-4" role="tabpanel" aria-labelledby="editEventsOption">
                            <h5 class="modal-title">Edit event</h5>
                            <p id="manageReminder">Select the event you want to set as current. You can also edit and delete an event.</p>
                            <span class="font-weight-bold">Current event name and time span: </span><span>name at HH:MM - HH:MM</span>
                            <form class="form mt-3" method="post" action="/admin/editEvent">
                                <div class="form-row mb-2">
                                    <div class="col mb-3">
                                        <!--<label for="selectedEvent" class="font-weight-normal mr-2">event</label>-->
                                        <select id="selectedEvent" class="form-control col-12" name="selectedEvent" required>
                                            <option class="defaultVal" value="" disabled selected>select event</option>
                                            {{#each event}}
                                            <option value="{{eventID}}">{{eventName}}</option>
                                            {{/each}}
                                        </select>
                                        
                                    </div>
                                    <div class="col">
                                        <button name="deleteEventButton" id="deleteEventButton" class="btn btn-secondary" type="button" onclick="deleteEvent(event);"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="form-group ml-1 mb-2">
                                    <div class="col mb-2">
                                        <input name="editSetCurrentEvent" id="editSetCurrentEvent" class="form-check-input clearInput" value="1" type="checkbox" />
                                        <label for="editSetCurrentEvent" class="form-check-label">Set as current event</label>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col mb-2">
                                        <label for="editEventName" class="font-weight-normal mr-2">event name</label>
                                        <input name="editEventName" id="editEventName" class="form-control col-14 clearInput" type="text" required />
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col mb-2">
                                        <label for="editStartEventDate" class="font-weight-normal mr-2">start date</label>
                                        <input name="editStartEventDate" id="editStartEventDate" class="form-control clearInput" type="date" required />
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col mb-2">
                                        <label for="editEndEventDate" class="font-weight-normal mr-2">end date</label>
                                        <input name="editEndEventDate" id="editEndEventDate" class="form-control clearInput" type="date" required />
                                    </div>
                                </div>
                                <button name="editEventButton" id="editEventButton" class="btn btn-secondary btn-md col-4 mt-4 mb-2 float-right" type="submit">save</button>
                            </form>
                        </div>
                        <div div id="addEventsSection" class="tab-pane fade" role="tabpanel" aria-labelledby="addEventsOption">
                            <h5 class="modal-title">Add event</h5>
                            <p id="manageReminder">Fill in the form below before adding a new event.</p>
                            <form class="form" method="POST" action="/admin/addEvent">
                                <div class="form-row mb-2">
                                    <div class="col mb-2">
                                        <label for="newEventName" class="font-weight-normal mr-2">event name</label>
                                        <input name="newEventName" id="newEventName" class="form-control col-14 clearInput" type="text" required />
                                    </div>
                                </div>
                                <div class="form-group ml-1 mb-2">
                                    <div class="col mb-2">
                                        <input name="addSetCurrentEvent" id="addSetCurrentEvent" class="form-check-input clearInput" value="1" type="checkbox" />
                                        <label for="addSetCurrentEvent" class="form-check-label">Set as current event</label>
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col mb-2">
                                        <label for="addStartEventDate" class="font-weight-normal mr-2">start date</label>
                                        <input name="addStartEventDate" id="addStartEventDate" class="form-control clearInput" type="date" required />
                                    </div>
                                </div>
                                <div class="form-row mb-2">
                                    <div class="col mb-2">
                                        <label for="addEndEventDate" class="font-weight-normal mr-2">end date</label>
                                        <input name="addEndEventDate" id="addEndEventDate" class="form-control clearInput" type="date" required />
                                    </div>
                                </div>
                                <button name="addEventButton" id="addEventButton" class="btn btn-secondary btn-md col-4 mt-4 mb-2 float-right" type="submit">save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="salesReportWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="salesReportForm" method='' action="">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Current sales report</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="salesReportSection" class="card-header bg-secondary row mx-0 d-flex justify-content-around">
                        <select id="artistSalesListDropdown" class="form-control salesReportArtist col-md-7 col-sm-12 my-1" name="selectedArtistSales">
                            <option value="" class="defaultVal" disabled selected>select artist</option>
                            {{#each artist}}
                                <option value="{{artistID}}">{{artistName}}</option>
                            {{/each}}
                        </select>
                        <select id="sortItemsDropdown" class="form-control salesReportSort d-md-inline-block col-md-4 col-sm-12 my-1" name="selectedArtistSales">
                            <option value="name" class="defaultVal" selected>sort by name</option>
                            <option value="price asc">sort by price (ascending)</option>
                            <option value="price desc">sort by price (descending)</option>
                            <option value="sold asc">sort by quantity sold (ascending)</option>
                            <option value="sold desc">sort by quantity sold (descending)</option>
                        </select>
                    </div>
                    <div class="modal-body bg-light">
                        <table id="soldItemsTable" class="table table-bordered">
                            <thead class="thead bg-secondary text-light">
                                <tr class="row m-0">
                                    <th class="col-6">Item/Bundle</th>
                                    <th class="col-3">Price</th>
                                    <th class="col-3">Quantity sold</th>
                                </tr>
                            </thead>
                            <tbody id="salesList">
                                <tr class='row m-0'><td class='col'>Select an artist</td></tr>
                            </tbody>
                        </table>
                        <table id="totalSalesTable" class="table">
                            <tr class="row m-0">
                                <td class="font-weight-bold col-9">Total</td>
                                <td class="col-3" id="totalSoldSales">PHP 0.00</td>
                            </tr>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer bg-light">
                        <input id="saveOrder" class="btn btn-secondary btn-sm col-2" value="export data" />
                    </div>
                </div>
            </form>
        </div>
    </div>
        <!--
    <div id="addArtistWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <form id="artistSelect" class="form" method="POST" action="/admin/addArtist">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mb-2">
                            <label for="newArtistName" class="font-weight-normal">artist name</label>
                            <input id="newArtistName" class="form-control clearInput" name="newArtistName" type="text" required />
                        </div>
                        <div class="form-group mb-2">
                            <label for="newArtistIDNo" class="font-weight-normal">artist ID number</label>
                            <input id="newArtistIDNo" class="form-control clearInput" name="newArtistIDNo" type="number" min="0" max="99999999" required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button name="addArtistButton" id="addArtistButton" class="btn btn-secondary btn-sm col-2" type="submit">save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addItemWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="artistSelect" class="form" method="POST" action="/admin/addItem" enctype="multipart/form-data">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdownItem" class="form-control" name="itemSelectedArtist">
                                <option class="defaultVal" value="" disabled selected>select artist</option>
                                {{#each artist}}
                                <option value="{{artistID}}">{{artistName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection" class="d-flex flex-col">
                                <div id="textFields" style="width: 500px;">
                                    <div class="form-group mb-2">
                                        <label for="newItemName" class="font-weight-normal mr-2">item name</label>
                                        <input name="newItemName" id="newItemName" class="form-control col-10 clearInput" type="text" required />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newPriceStock" class="font-weight-normal mr-2">price</label>
                                        <input name="newPriceStock" id="newPriceStock" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="newStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                        <input name="newStockQuantity" id="newStockQuantity" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                    </div>
                                </div>
                                <div id="itemPhotoPicker" class="m-4">
                                    <div class="d-flex justify-content-center">
                                        <img name="newItemPhoto" id="newItemPhoto" src="photo/item-photo.png" />
                                    </div>
                                    <div class="custom-file mt-2">
                                        <input name="itemPhotoPickerInput" id="itemPhotoPickerInput" type="file" class="custom-file-input clearInput" onchange="document.getElementById('newItemPhoto').src = window.URL.createObjectURL(this.files[0])" required />
                                        <label class="custom-file-label " for="itemPhotoPickerInput">Choose photo</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button name="addItemButton" id="addItemButton" class="btn btn-secondary btn-sm col-2" type="submit">save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="addBundleWindow" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form id="artistSelectBundle" class="form" method='POST' action="/admin/addBundle" enctype="multipart/form-data">
                <div class="modal-content bg-secondary">
                    <div class="modal-header">
                        <div id="artistSelectSection">
                            <select id="artistsListDropdownBundle" class="form-control" name="bundleSelectedArtist">
                                <option class="defaultVal" value="" disabled selected>select artist</option>
                                {{#each artist}}
                                <option value="{{artistID}}">{{artistName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body bg-light">
                        <div id="artistItemsSection">
                            <div id="otherInputSection">
                                <div id="bundleInfoSection" class="d-flex flex-col">
                                    <div id="textFields" style="width: 500px;">
                                        <div class="form-group mb-2">
                                            <label for="newBundleName" class="font-weight-normal mr-2">bundle name</label>
                                            <input name="newBundleName" id="newBundleName" class="form-control col-10 clearInput" type="text" required />
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="newPriceStock" class="font-weight-normal mr-2">price</label>
                                            <input name="newPriceStock" id="newPriceStock" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                        </div>
                                        <div class="form-group mb-2">
                                            <label for="newStockQuantity" class="font-weight-normal mr-2">quantity</label>
                                            <input name="newStockQuantity" id="newStockQuantity" class="form-control col-10 clearInput" type="number" min="0" max="99999999" required />
                                        </div>
                                    </div>
                                    <div id="BundlePhotoPicker" class="m-4">
                                        <div class="d-flex justify-content-center">
                                            <img name="newBundlePhoto" id="newBundlePhoto" src="photo/item-photo.png" />
                                        </div>
                                        <div class="custom-file mt-2">
                                            <input name="BundlePhotoPicker" id="BundlePhotoPicker" type="file" class="custom-file-input clearInput" onchange="document.getElementById('newBundlePhoto').src = window.URL.createObjectURL(this.files[0])" required />
                                            <label class="custom-file-label " for="BundlePhotoPicker">Choose photo</label>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="selectedItems" name="selectedItems" value="" />
                                <div id="bundleItemsSection">
                                    <div class="form-group">
                                        <label for="artistItemsSection" class="font-weight-normal">select bundle items</label>
                                        <div id="artistItemsSection" class="card overflow-auto" style="height: 20rem;" data-spy="scroll" data-offset="0">
                                            {{> itemGridCards section="bundleItem" lgsize="4"}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light">
                        <button name="addBundleButton" id="addItemButton" class="btn btn-secondary btn-sm col-2" type="submit">save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    -->


</body>
</html>